:root, body {
    background-color:#FFC1CF;
    padding: 0;
    margin: 0;
    font-family: Lucidatypewriter;
}

header {
    background-color: #E8FFB7;
    color: #E2A0FF;
    text-align: center;
    padding: 50px 10px;
    font-family: Segoe Print;
}

@counter-style heart {
    system: cyclic;
    symbols: "\2661";
    suffix: " ";
}

ul {
    list-style-type: heart;
    list-style-position: outside;
}

.head {
    width: 15%;
    background-color: #EDF2EF;
    border: 3px #87D68D solid;
    border-radius: 6px;
    margin: 10px;
    padding: 10px;
}
.items {
    float: left;
    width: 25%;
    background-color: #EFFFFA;
    border: 3px #87D68D solid;
    border-radius: 6px;
    margin: 12px;
    padding: 24px;
}

.items1 {
    float: left;
    width: 25%;
    background-color: #EFFFFA;
    border: 3px #87D68D solid;
    border-radius: 6px;
    margin: 12px;
    padding: 24px;
}

.head1 {
    float: left;
    width: 15%;
    background-color: #EDF2EF;
    border: 3px #87D68D solid;
    border-radius: 6px;
    margin: 10px;
    padding: 10px;
}

.section {
    display:inline-block;
    width:10700px;

}